<h1 class="h1"><span class="title-2">Emmas</span><span class="text-biolink">Amazing</span><span class="text-oneonone">Movie</span><span class="text-spons">Lists</span></h1>
<h2 class="h2">Save any kind of movies!</h2>

<button class="btn"><%= link_to 'Add a List', new_list_path(@list) %></button>
<br>
<button class="btn"><%= link_to 'Back', lists_path %></button>

<%# <%= simple_form_for (@list, @bookmark) do |f| %>
<%# <%= f.input :movie %>
<%# <%= end %>
