<div class="container m-5 p-2">
  <h2>Current Movie List:</h2>
  <h3><%= @list.name %></h3>
    <% if @bookmarks %>
      <div class="container m-5">
        <div class="cards">
          <% @bookmarks.each do |bookmark| %>
            <div class="card position-relative">
              <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %> poster" style="width: 100%;">
              <div class="overlay">
                <div class="text"><%= bookmark.name %></div>
                <%= link_to "delete", bookmark_path(bookmark, list: @list.id), method: :delete, class: "btn btn-warning position-absolute delete-btn-position" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% @list.movies.each do |movie| %>
      <li>
        <%= movie.title %>
        <img src="<%= movie.poster_url %>" alt="<%= movie.title %> poster" style="width: 100px; height: auto;">
      </li>
    <% end %>
  <%= link_to 'Add a new Bookmark to your List', new_list_bookmark_path(@list) %>
</div>
