<div class="container m-5 p-2">
  <h2>Current Movie List:</h2>
  <h3><%= @list.name %></h3>
    <% if @list.photo.attached? %>
      <%= cl_image_tag @list.photo.key, width: "200", crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1485846234645-a62644f84728?q=80&w=3518&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", width="200px", height="100%", crop: :fill alt="random movie">
    <% end %>

    <%= link_to 'Add a new Bookmark to your List', new_list_bookmark_path(@list), class: "btn btn-info" %>
    <%= link_to 'Edit your Bookmarks', edit_list_path(@list), class: "btn btn-info" %>

        <% @list.bookmarks.each do |bookmark| %>
        <div class="container">
          <div class="row">
            <div class="card m-5 p-3 border bg-light rounded col-lg-6">
              <h4 class="font-weight-bold"><%= bookmark.movie.title %></h4>
                <p class="mt-2"><%= bookmark.comment %></p>
                <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %> poster" style="width: 100px; height: auto;">
                <%= link_to "delete", bookmark_path(bookmark, list: @list.id), method: :delete, class: "btn btn-warning mt-2" %>
            </div>
          </div>
        </div>
        <% end %>
  <%= link_to 'ðŸ‘ˆðŸ» Back home', root_path, class: "btn btn-info" %>
</div>
