<%# app/views/lists/show.html.erb %>

<%# Emmas Navbar%>
<%= render 'navbar'%>

<%# Emmas Banner%>
<div class="banner">
  <h1 class="h1"><span class="title-1">Emmas</span><span class="title-2">Amazing</span><span class="title-3">Movie</span><span class="title-4">Lists</span></h1>
    <h2 class="h2">Save any kind of movies!</h2>
</div>

<h1>Current movie List</h1>

<div class="container">
    <h1><%= @list.name %></h1>
</div>

<% if @bookmarks %>
  <div class="container mt-5">
    <div class="cards">
      <% @bookmarks.each do |bookmark| %>
        <div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= bookmark.image_url %>')">
          <%= bookmark.name %>
            <div class="position-absolute delete-btn-position">
          <%= link_to "delete", bookmark_path(bookmark, list: @list.id), method: :delete, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% @list.movies.each do |movie| %>
<li>
<%= movie.title %>
</li>
<% end %>

<%= link_to 'Add a new Bookmark to your list', new_list_bookmark_path(@list) %>
