<%# app/views/bookmarks/new.html.erb %>
<div class="container new-form">
  <h3>Add a new movie to your list</h3>
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment, placeholder: "your bookmark" %>
    <%= f.association :movie %>
    <%= f.button :submit %>
  <% end %>
</div>

<%= link_to 'Back to Lists', lists_path  %>
